<div class="bg-pale-grey padding-top-2 padding-bottom-0">
    <div class="container" style="height: 98px;">
        <div class="row padding-top-2 padding-bottom-2">
            <div class="col-xs-12 text-center text-x-small">
                Copyright {{app.year}} | McDonald Store All Rights Reserved
                <div class="pull-right">
                    <span class="go-top" ng-click="toTheTop()"><i class="ti-angle-up"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>