<div class="main-container banner" ng-controller="cartController">
    <div class="headtitle">
        <div class="container">
            <div class="col-xs-12 text-center">
                <h2 class="header">Cart Details:</h2>
                <p>On this page is your cart items. Simply adjust QTY's, remove unwanted products or add more products. Checkout and submit it's that easy.</p>
            </div>
            <div class="col-xs-12">
                <form action="" method="post" id="cartform">
                    <table width="100%" class="table table-bordered table-striped">
                        <thead>
                            <tr style="background-color: #fff;"><td colspan="6" style="text-align:right">
                                <a ng-click="clearCart()" class="btn btn-danger" style="margin-right:20px;">Clear Cart</a>
                                <a ng-click="updateCart()"  class="btn btn-success" style="margin-right:10px;"class="updatecart subbutton">Update Cart</a></td>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in cart">
                                <td><img src="{{ item.image }}" alt="{{item.meal}}" class="img-thumbnail" width="60" /> </td>
                                <td>{{ item.meal }}</td>
                                <td>${{ item.price }}</td>
                                <td><input type="hidden" value="{{item.id}}" name="id" /><input type="number" ng-model="item.qty" class="qty" style="width:50px;" name="qty" /></td>
                                <td ng-bind="item_total(item)">$0.00</td>
                                <td><a ng-click="remove_item(item.id)" class="btn btn-danger del">Del</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"></td>
                                <td>Total</td>
                                <td ng-bind="total_cart()">$0.00</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
                <div class="row">
                    <div class="text-right col-xs-12">
                        <a ng-click="continue()" class="btn btn-success"> Continue Shopping</a>
                        <a ng-click="pay()" class="btn btn-danger"> Proceed to pay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>