<div class="main-container banner" ng-controller="createMealController">
    <div class="headtitle">
        <div class="container">
            <div class="col-xs-12 text-center">
                <h2>Create your own meal</h2>
                <span class="text-weight-medium">Please select meal from below menu, </span><span class="text-weight-heavy text-capitalize" ng-bind="userInfo.first_name"></span>
            </div>
            <div data-ng-repeat="item in menu_items">
                <menu-list-single menu="item"></menu-list-single>
            </div>
            <div class="row" ng-show="menus.length ==0">
                <div class="text-center messagebg padding-2">
                    There are no menus available.
                </div>
            </div>
        </div>
    </div>
</div>