<div class="main-container banner" ng-controller="dashboardController">
    <div class="headtitle">
        <div class="container">
            <div class="col-xs-12 text-center">
                <h2>Welcome,{{userInfo.first_name}} - Previous Orders</h2>
                <span class="text-weight-medium">From below orders you can reorder your favourite meals </span>
                <span class="text-weight-heavy text-capitalize" ng-bind="userInfo.first_name"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form action="" method="post" id="orderform">
                        <table width="100%" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Order Details</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="order in myOrders">
                                    <td>
                                        <table  width="100%" class="table table-bordered table-striped">
                                            <tbody>
                                                <tr data-ng-repeat="item in order.meal" ng-if="item.type == 'my-own'">
                                                    <td><img ng-src="{{ item.image }}" alt="{{item.meal}}" class="img-thumbnail" width="60" /> </td>
                                                    <td>
                                                        {{item.name}}
                                                        <table  width="100%" class="table table-bordered table-striped">
                                                            <tbody>
                                                                <tr ng-repeat="sub_item in item.items">
                                                                    <td><img ng-src="{{ sub_item.image }}" alt="{{sub_item.name}}" class="img-thumbnail" width="60" /> </td>
                                                                    <td>{{sub_item.name}}</td>
                                                                    <td>${{ sub_item.price }}</td>
                                                                    <td>{{sub_item.qty}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td ng-bind="sub_item_unit_total(item)">$0.00</td>
                                                    <td ng-model="item.price" ng-bind="sub_item_overall_total(item)">$0.00</td>
                                                    <td><a ng-click="reorder_meal(item.id)" class="btn btn-danger del">Reorder</a></td>
                                                </tr>
                                                <tr data-ng-repeat="item in order.meal"  ng-if="item.type !== 'my-own'">
                                                    <td><img ng-src="{{ item.image }}" alt="{{item.meal}}" class="img-thumbnail" width="60" /> </td>
                                                    <td>{{ item.name }}</td>
                                                    <td>${{ item.price }}</td>
                                                    <td ng-model="item.price" ng-bind="item_total(item)">$0.00</td>
                                                    <td><a ng-click="remove_item(item.id)" class="btn btn-danger del">Reorder</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>{{ order.order_date|date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="row">
                        <div class="text-right col-xs-12">
                            <a ng-click="continue()" class="btn btn-success"> Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>