<div class="main-container banner" ng-controller="dashboardController">
    <div class="headtitle">
        <div class="container">
            <div class="col-xs-12 text-center">
                <h2>Welcome,{{userInfo.first_name}} - Previous Orders</h2>
                <span class="text-weight-medium">From below orders you can reorder your favourite meals </span><span class="text-weight-heavy text-capitalize" ng-bind="userInfo.first_name"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form action="" method="post" id="orderform">
                        <table width="100%" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="order in myOrders">
                                    <td>{{ order.meal.name }}</td>
                                    <td>{{ order.order_date}}</td>
                                    <td>${{order.meal.price}}</td>
                                    <td><a ng-click="reorder_meal(item.id)" class="btn btn-danger del">Reorder</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="row">
                        <div class="text-right col-xs-12">
                            <a ng-click="continue()" class="btn btn-success"> Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>