<div class="main-container banner" ng-controller="homeController">
    <div class="headtitle">
        <div id="hero">
            <div class="head banner">
                <ul class="slides">
                    <li class="item">
                        <!--<div class="category&#45;&#45;hero-image">
                            <img class="mobile" src="https://mcdonalds.com.au/sites/mcdonalds.com.au/files/Product-Menu-Full-Menu-Mobile-201904.jpg" alt="" title="" draggable="false">
                        </div>-->
                        <div class="inner-container">
                            <div class="category--description-container">
                                <h1>Full Menu</h1>
                                <h2>Discover everything <br>Macca’s<sup>®</sup>&nbsp;has on offer.&nbsp;</h2>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12 text-center">
                <span class="text-weight-medium">Welcome, </span><span class="text-weight-heavy text-capitalize" ng-bind="userInfo.first_name"></span>
            </div>
        </div>
    </div>
</div>