<div class="col-sm-6 col-md-3 meal-item">
    <div class="panel-body">
        <div class="panel-primary text-center"> <img src="{{menu.image}}" alt="{{menu.meal}}" class="img-thumbnail img-responsive"> </div>
        <div class="price text-center"><h4>{{menu.name}}</h4><h3>${{menu.price}}</h3> </div>
        <div class="text-center"><input type="number" name="qty" ng-model="menu.qty" value="0" class="input-sm" min="0" max="" style="width: 45px;"> <a ng-click="addtocart(menu)" class="btn btn-danger">Add to cart</a></div>
    </div>
</div>
