<div class="main-container banner" ng-controller="thankController">
    <div class="headtitle">
        <div class="container">
            <div class="col-xs-12 text-center">
                <h2 class="header">Thank you for making purchase.</h2>
                <p>We will deliver your meal to you soon.</p>

                <a ui-sref="app.dashboard" class="btn btn-success">Go to Orders</a>
                <a ui-sref="app.menu" class="btn btn-danger">Order pre-made Meal</a>
            </div>
        </div>
    </div>
</div>